/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */

body {
    background: rgb(255, 179, 92, 0.5);
    margin: 0;
    font-family: 'Merriweather', serif;
    flex-wrap: wrap;
}

/* Typeography General*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #FFB35C;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #444;
}

p {
    line-height: 1.6em;
    color: #444;
}

/* ---- Layout Rules ---- */

main {
    margin: 20vh 0vh 5vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
    margin: 20px;
    border-radius: 10px;
    background-position: center;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar_menu {
    margin: 20px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_menu ul {
    display: flex;
    list-style-type: none;
}

.navbar_menu .menu_link {
    margin-top: 10px;
    display: block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: row;
}

.menu_toggle {
    list-style-type: none;
}

.navbar_menu .menu_link:hover {
    background-color: #eee;
    border-radius: 10px;
}

.navbar_list {
    padding: 10px;
}

.navbar_list:not(.button) a:hover, .navbar_list a:hover::after {
    color: #ccc;
}

.navbar_logo {
    max-width: 90%;
    flex-shrink: inherit;
}

.fa-bars {
    color: #FFB35C;
}

.navbar_menu .menu_link.active {
    background-color: FFB35C;
    border-radius: 10px;
}

/* Header Styles */

.page_header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */

.page_footer {
    background: #fff;
    padding: 10px;
    color: #eee;
    text-align: center;
}

.page_footer p {
    color: #FFB35C;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */

.landing_container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing_container {
        max-width: 500px;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing_container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.section_img {
    width: 100%;
}

.section_cont {
    background-color: rgba(238, 238, 238, 0.75);
    border-radius: 10px;
    padding: 5px 20px 10px 20px;
}

/* Media Queries */

/* Small Devices - Mobile phones */

@media screen and (max-width: 480px) {
    /* Mobile Menu */
    .navbar_menu {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .navbar_logo {
        width: 80%;
        padding-left: 20px;
    }
    .navbar_menu .menu_link {
        display: none;
    }
    .active .menu_link {
        display: flex;
    }
    .menu_toggle {
        font-size: 40px;
    }
    .navbar_menu ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        align-content: stretch;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
}

/* Medium Devices - Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Tablet Menu */
    .navbar_menu {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .navbar_logo {
        width: 80%;
        padding-left: 20px;
    }
    .navbar_menu .menu_link {
        display: none;
    }
    .active .menu_link {
        display: flex;
    }
    .menu_toggle {
        font-size: 40px;
    }
    .navbar_menu ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        align-content: stretch;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
}

/* Small Screens - Laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Laptop Menu */
    .navbar_logo {
        max-width: 45%;
    }
    .menu_toggle {
        display: none;
    }
}

/* Medium Screens - Desktops */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Desktop Menu*/
    .menu_toggle {
        display: none;
    }
}

/* Large Screens - Ultrawide Desktops */

@media screen and (min-width: 1201px) and (min-width: 1201px) {
    /* Ultrawide Menu */
    .menu_toggle {
        display: none;
    }
}