/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */

body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
    flex-wrap: wrap;
}

/* Typeography General*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #FFB35C;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */

main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar_menu ul {
    margin: 20px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_menu li {
    display: inherit;
}

.navbar_menu .menu_link {
    margin-top: 10px;
    display: block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar_menu .menu_link:hover {
    background: rgb(177, 177, 177);
    color: #fff;
    transition: ease 0.3s all;
}

.navbar_list {
    padding: 10px;
}

.navbar_list:not(.button) a:hover, .navbar_list a:hover::after {
    color: #ccc;
}

.navbar_logo {
    max-width: 90%;
    flex-shrink: inherit;
}

.fa-bars {
    color: #FFB35C;
}

/* Header Styles */

.page_header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */

.page_footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page_footer p {
    color: #fff;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */

.landing_container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing_container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing_container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* ---- Theme State Rules ---- */

/* Section Active Styles */

/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing_container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing_container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

/* Media Queries */

/* Small Devices - Mobile phones */

@media screen and (max-width: 480px) {
    /* Mobile Menu */
    .navbar_menu ul {
        margin: 20px;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: ;
    }
    .navbar_logo {
        max-width: 60%;
    }
    .menu_toggle {
        font-size: 40px;
    }
    .navbar_menu .menu_link {
        width: 100%;
        text-align: center;
        display: none;
        justify-content: space-between;
    }
    .active .menu_link {
        display: block;
    }
}

/* Medium Devices - Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Tablet Menu */
    .navbar_menu ul {
        margin: 20px;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: ;
    }
    .navbar_logo {
        max-width: 60%;
    }
    .menu_toggle {
        font-size: 40px;
    }
    .navbar_menu .menu_link {
        width: 100%;
        text-align: center;
        display: none;
        justify-content: space-between;
    }
    .active .menu_link {
        display: block;
    }
}

/* Small Screens - Laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Laptop Menu */
    .navbar_menu li {
        display: none;
    }
    .navbar_logo {
        max-width: 45%;
    }
}

/* Medium Screens - Desktops */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Desktop Menu*/
    .navbar_menu li {
        display: none;
    }

}

/* Large Screens - Ultrawide Desktops */

@media screen and (min-width: 1201px) and (min-width: 1201px) {
    /* Ultrawide Menu */
    .navbar_menu li {
        display: none;
    }
}